/* These are the styles for pages using the Layout componenent. */

body {
  background: #121212;
  font-family: 'Crimson Text',serif;
  color: #f2f2f2;
}

#___gatsby {
  position: relative;
  min-height: 100vh;
}
#gatsby-focus-wrapper {
  padding-bottom: 4rem;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: #000000;
}

.navbar {
  margin-bottom: 30px;
}
a .card.bg-dark {
  text-decoration: none;
  color: #fdf4df;
}
a.card-link:hover {
  text-decoration: none;
}
.card-hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.card-hover:hover {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  box-shadow: 0.25rem 0.25rem 1.5rem #fdf4df;
}
.video {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 0;
  overflow: hidden;
}
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}
footer a {
  color: #fdf4df;
  padding-left: 1rem;
  padding-right: 1rem;
}